# Build output
bin/
obj/

# Rider / JetBrains
.idea/
*.sln.iml

# Visual Studio
.vs/

# User files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# dotnet / sdk caches
.dotnet/
.net/
.net10/

# ASP.NET environment configs
appsettings.Development.json
appsettings.Local.json
